<header
    class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[var(--color-secondary)] px-10 py-3"
>
    <div class="flex items-center gap-4 text-[var(--text-color-primary)]">
        <div class="size-4">
            <svg
                viewBox="0 0 48 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M24 4C25.7818 14.2173 33.7827 22.2182 44 24C33.7827 25.7818 25.7818 33.7827 24 44C22.2182 33.7827 14.2173 25.7818 4 24C14.2173 22.2182 22.2182 14.2173 24 4Z"
                    fill="currentColor"
                ></path>
            </svg>
        </div>
        <h2
            class="text-[var(--text-color-primary)] text-lg font-bold leading-tight tracking-[-0.015em]"
        >
            MyCalendar AI
        </h2>
    </div>
    <div class="flex flex-1 justify-end gap-8">
        <div
            class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
            style="
                background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuDXG-tIQ2KKlMR6c-qpvaJGlaHPQ1082vkkDeD5JL0vvyUx_KCY7L7SRDegqBlk-Ngb3IO0clUqF5r-8I9mO7A6JNXrzV4e0fVAsFmf5OsRQOmqtpCnO77Fo2-CvTwjni6C5czUA3nTSRMVpefhzLARl6u-Od8_YzLiJX6VdMvGk2_BauhLw3rf8UoDYZOGESdImY0SiLvvo09LUyW2COd6rgcQehvyfHgs07BXnTG5JDLegz7Qj77E7OsD5gooALTXOnTL2oBiynQ');
            "
        ></div>
    </div>
</header>
