<div class="flex flex-col">
    <div class="flex items-end gap-3 p-4">
        <div
            class="bg-center bg-no-repeat aspect-square bg-cover rounded-full w-10 shrink-0"
            style="
                background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBL1nZXogJwrZF96q-5RcL7XwQ6m7hmqI_fnFGg7Y1knpa31o_NIF_WHhi8qGPA4bwt0Jm4uQvmI-fZMj-bAlMEFYoeTNDAQczAA7Jo8W90N3xkQX9NbzwHFd5NVWT0yO3Hbt_X8qfUDbUHYQWMl0m7Ix645Sbg4ukyFDA40Ug0OnOdqZtX997vk5EvildBXNBkTRLHCIirkhGi81C4PC0RxlfFRL6zw-8JCkhFyk_6H5LpIF4p7S8DtsnyRQIMIKISxZyV4sWcNl0');
            "
        ></div>
        <div class="flex flex-1 flex-col gap-1 items-start">
            <p
                class="text-[#877564] text-[13px] font-normal leading-normal max-w-[360px]"
            >
                My Calendar AI
            </p>
            <p
                class="text-base font-normal leading-normal flex max-w-[360px] rounded-xl px-4 py-3 bg-[var(--color-secondary)] text-[var(--text-color-primary)]"
            >
                Hello! How can I assist you today?
            </p>
        </div>
    </div>
    <div class="flex items-end gap-3 p-4 justify-end">
        <div class="flex flex-1 flex-col gap-1 items-end">
            <p
                class="text-[#877564] text-[13px] font-normal leading-normal max-w-[360px] text-right"
            >
                Sophia
            </p>
            <p
                class="text-base font-normal leading-normal flex max-w-[360px] rounded-xl px-4 py-3 bg-[#c46d1c] text-white"
            >
                Hi there! Can you help me draft an email to a client?
            </p>
        </div>
        <div
            class="bg-center bg-no-repeat aspect-square bg-cover rounded-full w-10 shrink-0"
            style="
                background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBDdonYKggdgPWpZ-dsYq5x4wV1RW-CRrDrOa73Ems8GdCzjkTyrjAVS9opYAbEFA-pI0L3VUpZapzjNH21Bj-unc2-xRexVfC8YtyDHIyQgy9Cumo1cLlaOUFJ5ppScuGjx1s1xAA6uvJlkOzdgH2jvOgPjAw76ilOcC9kW15PwXpGr4JtBdvdzJfQQJMF07EMaoccftT5s1_QxveBdP8AYXEnwuyA6GvOrDAlkm06EneqIE7HIlUQo-8IhQu3r1HEs1MzhLcDBRQ');
            "
        ></div>
    </div>
    <div class="flex items-end gap-3 p-4">
        <div
            class="bg-center bg-no-repeat aspect-square bg-cover rounded-full w-10 shrink-0"
            style="
                background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuA2mpRACoWPnYEFnyfNo5n57T_gdKwFJ79E9OaD0PBizw9ioyWZqdpPzc6n_eQiYN5pYv-vMqrUH5yeS3ixziQaJF_eHox2M7XB5943994CIEQ9i4uaRnLsNfDeIRWu0Ec8Rrlr8TWRYKloCAA5GGrGj_s2nR_iK36qZSmbmsH21yE9YAqWypfRWZo5lFiAjeN9Pl8v5y7Cei9yU_Ml3YpgwdhWXHW9nmbs8Psvah1GuhoR2g26cll_LwvO5tFDGWYo0iUT4f7pq3k');
            "
        ></div>
        <div class="flex flex-1 flex-col gap-1 items-start">
            <p
                class="text-[#877564] text-[13px] font-normal leading-normal max-w-[360px]"
            >
                My Calendar AI
            </p>
            <p
                class="text-base font-normal leading-normal flex max-w-[360px] rounded-xl px-4 py-3 bg-[var(--color-secondary)] text-[var(--text-color-primary)]"
            >
                Of course! Please provide me with the necessary details, such as
                the client's name, the subject of the email, and any specific
                points you'd like to include.
            </p>
        </div>
    </div>
</div>
