:root {
    --text-color-primary: #171411;
    --text-color-secondary: #877564;
    --color-secondary: #f4f2f0;
    --bg-color-primary: #fffdf6;
    --bg-color-secondary: #eeefe0;
    --bg-color-tertiary: #c46d1c;
}
